/* .title{
  color: red;
  font-size: 18px;
} */
.pageTitle {
  text-align: center;
  font-family: 'ariel';
  font-size: 5em;
  color: white;
  margin-bottom: 1%;
}
body {
  background-color: coral;
  background-attachment: fixed;
  max-width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title{
  font-size: 1.2em;
}

.post {
  margin: 0.5%;
  vertical-align: top;
  width: 23%;
  height: 300px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  background-color: white;
}

.post:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
